* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

#titulo{
    text-align: center;
    padding: 10px;
}
#paragrafo{
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.containerLista {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.containerLista label {
    margin-bottom: 5px;
    font-weight: bold;
}

.containerLista input[type="text"],
.containerLista input[type="date"],
.containerLista select {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dddddd;
    outline: none;
}

.containerLista input[type="text"]::placeholder,
.containerLista input[type="date"]::placeholder,
.containerLista select option {
    color: #999999;
}

#adicionar {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#tarefasContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#containerTarefas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tarefa {
    padding: 10px;
    font-size: 18px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
